# Join function

In [1]:
a = ['as', 'bd']
print(a)

['as', 'bd']

In [2]:
a = ['as', 'bd']
b = ' '
print(b.join(a))

as bd

In [3]:
a = ['as', 'bd']
b = '--'
print(b.join(a))

as--bd

In [4]:
a = ['as', 'bd']
b = '\n'
print(b.join(a))

as
bd

In [5]:
a = ['as', 'bd']
b = '\t'
print(b.join(a))

as	bd

In [6]:
a = ['as', 'bd']
print('\n'.join(a))

as
bd

In [7]:
a = ['as', 'bd']
print('\t'.join(a))

as	bd

# Formatting strings

In [8]:
print('{} {}'.format('one','two'))

one two

In [9]:
print('{0} {1}'.format('one','two'))

one two

In [13]:
print('{1} {0}'.format('one','two'))

two one

In [14]:
print('{1} {1} {1} {1}'.format('one','two'))

two two two two

In [15]:
print('{1} {0} {1} {0}'.format('one','two'))

two one two one

In [16]:
print('{:>10}'.format('test'))

      test

In [17]:
print('{:_<10}'.format('test'))

test______

In [18]:
print('{:<10}'.format('test'))

test

In [19]:
print('{:.>10}'.format('test'))

......test

In [20]:
print('{:S>20}'.format('test'))

SSSSSSSSSSSSSSSStest

In [21]:
print('{:.^9}'.format('zip'))

...zip...

# Conditional statements

# If Else

In [22]:
a = 10
b = 20
if a > b:
    print(a)
else:
    print(b)

20

In [23]:
a = 10
b = 20
if a > b:
    print(a)
    print('a is greater than :-')
else:
    print(b)
    print('a is less than b:-')

20
a is less than b:-

In [25]:
a = 10
b = 20
if a > b:
    print(a)
    print('a is greater than b :-',a)
else:
    print(b)
    print('a is less than b:-',b)

20
a is less than b:- 20

# If Else Nested

In [4]:
a = 100
b = 200
c = 500

if a > b:
    if a > c:
         print('a is greater')
else:
    print('c is greater1')
elif b > c:
    print('b is greater')
else:
    print('c is greater2:-',c)

SyntaxError: invalid syntax (1252904071.py, line 10)

# Functions

In [5]:
def add(a, b):
    return a + b
def sub(a, b):
    return a - b

p = 10
q = 5
r = add(p, q)
print(r)

s = sub(p, q)
print(s)

15
5

In [7]:
def add(a, b):
    return a + b
def sub(a, b):
    return a - b

p = 10
q = 5
r = add(p, q)
print('Addition:-',r)

s = sub(p, q)
print('Substraction:-',s)

Addition:- 15
Substraction:- 5

In [9]:
def add(a, b):
    r = a + b
    return r

def sub(a, b):
    s = a - b
    return s

p = 10
q = 5
r = add(p, q)
print('Addition:-',r)

s = sub(p, q)
print('Substraction:-',s)

Addition:- 15
Substraction:- 5

In [11]:
def avengers_bio (Name, Age):
    print('Name:', Name, 'Age:', Age)
    
n1 = 'thor'
a1 = 1000
n2 = 'captain'
a2 = '100'

avengers_bio(n1, a1)
avengers_bio(n2, a2)

Name: thor Age: 1000
Name: captain Age: 100

In [12]:
def avengers_bio (Name, Age, City):
    print('Name:', Name, 'Age:', Age, 'City:', City)
    
n1 = 'thor'
a1 = 1000
c1 = 'asguard'
n2 = 'captain'
a2 = '100'
c2 = 'newyork'

avengers_bio(n1, a1, c1)
avengers_bio(n2, a2, c2)

Name: thor Age: 1000 City: asguard
Name: captain Age: 100 City: newyork

In [13]:
def avengers_bio (N, A, C):
    print('Name:', N, 'Age:', A, 'City:', C)
    
n1 = 'thor'
a1 = 1000
c1 = 'asguard'
n2 = 'captain'
a2 = '100'
c2 = 'newyork'

avengers_bio(n1, a1, c1)
avengers_bio(n2, a2, c2)

Name: thor Age: 1000 City: asguard
Name: captain Age: 100 City: newyork

# Join function

In [1]:
a = ['as','bd']
print(a)

['as', 'bd']

In [2]:
a = ['as','bd']
b = ","
print(b.join(a))

as,bd

In [3]:
a = ['as','bd']
b = "--"
print(b.join(a))

as--bd

In [4]:
a = ['as','bd']
b = "\n"
print(b.join(a))

as
bd

In [5]:
a = ['as','bd']
b = "\t"
print(b.join(a))

as	bd

In [6]:
a = ['as','bd']
print('\n'.join(a))

as
bd

In [7]:
a = ['as','bd']
print('\t'.join(a))

as	bd

# Formatting strings

In [8]:
print('{} {}'.format('one','two'))

one two

In [9]:
print('{0} {1}'.format('one','two'))

one two

In [10]:
print('{1} {0}'.format('one','two'))

two one

In [11]:
print('{1} {1} {1} {1}'.format('one','two'))

two two two two

In [13]:
print('{1} {0} {1} {0}'.format('one','two'))

two one two one

In [14]:
print('{:>10}'.format('test'))

      test

In [15]:
print('{:<20}'.format('test'))

test

In [17]:
print('{:_<20}'.format('test'))

test________________

In [18]:
print('{:.^9}'.format('zip'))

...zip...

# Conditional statement

# If else

In [2]:
a = 10
b = 20
if a > b:
    print(a)
else:
    print(b)

20

In [3]:
a = 10
b = 20
if a > b:
    print(a)
    print('a is greater than b')
else:
    print(b)
    print('a is less than b')

20
a is less than b

In [4]:
a = 10
b = 20
if a > b:
    print('a is greater than b:',a)
else:
    print('a is less than b:',b)

a is less than b: 20

# If Else Nested

In [5]:
a = 100
b = 200
c = 500
if a > b:
    if a > c:
        print('a is greater')
    else:
        print('c is greater1')
elif b > c:
    print('b is greater')
else:
    print('c is greater2:',c)

c is greater2: 500

In [7]:
a = 200
b = 400
c = 300
if a > b:
    if a > c:
        print('a is greater')
    else:
        print('c is greater')
elif b > c:
    print('b is greater:',b)
else:
    print('c is greater')

b is greater: 400

# functions

In [9]:
def add(a,b):
    return a + b
def sub(a,b):
    return a - b

p = 10
q = 5
r = add(p,q)
s = sub(p,q)
print(r)
print(s)

15
5

In [11]:
def add(a,b):
    return a + b
def sub(a,b):
    return a - b

p = 10
q = 5
r = add(p,q)
print('Addition:',r)

s = sub(p,q)
print('Substraction:',s)

Addition: 15
Substraction: 5

In [13]:
def avengers_bio(Name,Age,city):
    print('Name:',Name,'Age:',Age,'City:',city)
    
n1 = 'thor'
a1 = 1000
c1 = 'asguard'
n2 = 'captain'
a2 = 100
c2 = 'newyork'

avengers_bio(n1,a1,c1)
avengers_bio(n2,a2,c2)

Name: thor Age: 1000 City: asguard
Name: captain Age: 100 City: newyork

In [2]:
# join function

a = ['as','bd']
b = ' , '
print(b.join(a))

as , bd

In [3]:
a = ['as','bd']
b = ' \n '
print(b.join(a))

as
 bd

In [4]:
a = ['as','bd']
b = '\t'
print(b.join(a))

as	bd

In [5]:
a = ['as','bd']
print('\n'.join(a))

as
bd

In [6]:
a = ['as','bd']
print('\t'.join(a))

as	bd

In [9]:
# Condition statement

# If else
a = 10
b = 20
if a > b:
    print(a)
else:
    print(b)

20

In [10]:
a = 10
b = 20
if a > b:
    print(a)
    print('a is greater than b')
else:
    print(b)
    print('b is leass than a')

20
b is leass than a

In [13]:
# If else nested

a = 100
b = 200
c = 500
if a > b:
    if a > c:
        print('a is greatest')
    else:
        print('c isgreatest1')
elif b > c:
        print('b is greatest')
else:
    print('c is greatest2:-',c)

c is greatest2:- 500

In [15]:
def add(a,b):
    return a + b
def sub(a,b):
    return a -b

p = 10
q = 5
r = add(p,q)
print(r)

s = sub(p,q)
print(s)

15
5